name: Validate PR

on:
  pull_request:
    branches: [ main ]

jobs:
  check_formatting:
    name: Check Formatting
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore tools
        run: dotnet tool restore

      - name: Check formatting with CSharpier
        run: dotnet csharpier check .

      - name: Restore dependencies
        run: dotnet restore

      - name: Run analyzers
        run: dotnet build --no-incremental --warnaserror
  check_tests:
    name: Check Tests
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Test
        run: dotnet test --no-build
